<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>455325086142-q9uigsiukdpqhlim5hdof6gnap5pd442.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.455325086142-q9uigsiukdpqhlim5hdof6gnap5pd442</string>
	<key>API_KEY</key>
	<string>AIzaSyARfhLtz-VGbCcdsoQB5xD52JumK6KjE2s</string>
	<key>GCM_SENDER_ID</key>
	<string>455325086142</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.codewithviet.AuthenticationAppSwiftUI</string>
	<key>PROJECT_ID</key>
	<string>authenticationappswiftui</string>
	<key>STORAGE_BUCKET</key>
	<string>authenticationappswiftui.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:455325086142:ios:181c0de69b8ae3035949ef</string>
</dict>
</plist>